binary and multiclass classification on has_free_cancelation and sustainability level.
clustering on price + distance from center
regression - tree?

In [141]:
import pandas as pd

In [142]:
df = pd.read_csv('../data/hotels_daily_final.csv')
df

,name,location,price,date,stars,distance_from_center,num_external_reviews,booking_user_ratings,avg_user_ratings,airport_taxi,travel_sustainable_level,has_free_cancelation
0,"The Pavilions Amsterdam, The Toren","Amsterdam City Center, Amsterdam","MKD 14,351","['2024-02-01', '2024-02-02']",4.0,0.6 km from center,"1,044 reviews",Excellent,8.9,Limited-time Deal,Travel Sustainable Level 3+,False
1,Sonder Park House,"Oud Zuid, Amsterdam","MKD 8,890","['2024-02-01', '2024-02-02']",4.0,1.7 km from center,"3,190 reviews",Good,7.5,No airport taxi,NaN,True
2,Hotel Jansen Amsterdam Bajeskwartier,"Oost, Amsterdam","MKD 5,267","['2024-02-01', '2024-02-02']",NaN,4.2 km from center,"1,155 reviews",Very Good,8.3,No airport taxi,Travel Sustainable Level 3,True
3,AmicitiA,"Amsterdam City Center, Amsterdam","MKD 1,848","['2024-02-01', '2024-02-02']",NaN,1.2 km from center,"1,820 reviews",Good,7.1,No airport taxi,NaN,True
4,Hotel Washington,"Oud Zuid, Amsterdam","MKD 3,080","['2024-02-01', '2024-02-02']",2.0,2.1 km from center,"2,205 reviews",Good,7.3,No airport taxi,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...
54909,Schöne 2 1/2 Zimmer Wohnung im Herzen von Dort...,"Dortmund City Centre, Dortmund","MKD 11,726","['2025-01-31', '2025-02-01']",NaN,0.6 km from center,11 reviews,Excellent,8.6,No airport taxi,NaN,False
54910,schlafgut24,Dortmund,"MKD 7,331","['2025-01-31', '2025-02-01']",NaN,10.9 km from center,16 reviews,Exceptional,9.6,No airport taxi,Travel Sustainable Level 2,False
54911,3 Zimmer Wohnung in Dortmund,Dortmund,"MKD 11,704","['2025-01-31', '2025-02-01']",NaN,3 km from center,3 reviews,Very Good,8.0,No airport taxi,NaN,False
54912,"Wohnung Nähe Uni,Stadion",Dortmund,"MKD 5,211","['2025-01-31', '2025-02-01']",NaN,5 km from center,NaN,NaN,NaN,No airport taxi,NaN,False
54913,FeWo Born,Dortmund,"MKD 13,270","['2025-01-31', '2025-02-01']",NaN,1.1 km from center,NaN,NaN,NaN,No airport taxi,NaN,False

# Preprocessing

## Print out the data and see which columns need cleaning

In [143]:
[print(d, df[d].unique()) for d in df.columns]

name ['The Pavilions Amsterdam, The Toren' 'Sonder Park House'
 'Hotel Jansen Amsterdam Bajeskwartier' 'AmicitiA' 'Hotel Washington'
 'Vita Nova' 'Mps Holland' 'Budget Trianon Hotel' 'Belfort Hotel'
 'Amsterdam Hotelboat' 'Hotel Amsterdam Inn' 'The Alfred Hotel'
 'XO Hotel Inner' 'The Concert Hotel' 'De Bedstee Boutique Capsules'
 'Blossoms City Hotel' 'Urban Lodge Hotel' 'Hotel Espresso' 'Felicitas'
 'Hotel Ben Centre' 'MAX Hotel Amsterdam' 'The Flying Pig Uptown'
 'B&B HutSpot' 'Hotel Fogo' 'The Cabin @ MPS Noorderzon'
 'Hotel City Garden Amsterdam'
 'Conscious Hotel Amsterdam City - The Tire Station'
 'ibis Styles Amsterdam City' 'ClinkNOORD Hostel' 'Hotel Parkview'
 'Hotel Allure' 'Hotel Atlantis Amsterdam' 'Hotel New Kit'
 'The Times Hotel' 'Ruby Emma Hotel Amsterdam'
 'The Arcade Hotel Amsterdam' 'Park Inn by Radisson Amsterdam City West'
 'Hampton By Hilton Amsterdam Arena Boulevard'
 'Hampton by Hilton Amsterdam Centre East' 'Boutique Hotel Oosteinde'
 'YOTEL Amsterdam' 'Mercure Amsterdam Sloterdijk Station' 'Hotel Levell'
 'Joy Hotel' 'Hotel Iron Horse Amsterdam' 'XO Hotels Park West'
 'Hotel Abba' 'Hotel Goodnight Antwerp' 'Citybox Antwerp' 'Casa Amor'
 'B&B HOTEL Antwerpen Centrum' 'ibis budget Antwerpen Centraal Station'
 'ibis Antwerpen Centrum' 'Hampton By Hilton Antwerp Central Station'
 'Hotel Indigo Antwerp City Centre, an IHG Hotel'
 'Suite city center in quiet street & airco' 'prizeotel Antwerp-City'
 'NH Collection Antwerp Centre' 'Hotel National Antwerp' 'Beaux ARTS'
 'Astoria Hotel Antwerp' 'Crowne Plaza Antwerpen, an IHG Hotel'
 'Hotel Opera Antwerpen Centrum' 'Hotel Rubens-Grote Markt'
 'Mercure Antwerp City Centre' 'U Eat & Sleep Antwerp'
 'Holiday Inn Express Antwerp - City Centre, an IHG Hotel'
 'Park Inn by Radisson Antwerpen' 'B&B HOTEL Antwerpen Zuid'
 'Holiday Inn Express Antwerpen City North, an IHG Hotel'
 'Sapphire House Antwerp, Autograph Collection'
 'Radisson BLU Astrid Hotel, Antwerp' 'Mercure Antwerp City South'
 'Studio Anvers' 'Maison Nationale City Flats & Suites'
 'Leonardo Hotel Antwerpen' 'Pink Pigeon' "Simone's Kitchen B&B"
 'Hotel Docklands' 'Museum Suites' 'Century Hotel Antwerpen Centrum'
 'HotelO Kathedral' 'Hilton Antwerp Old Town'
 'KAOZ Highstreet The Luxury Loft' 'A-STAY Antwerp' 'Luxury Suites Royal'
 'PREMIER SUITES Antwerp' "GiGi Home's" 'Luxury Suites Meir'
 'Arass Hôtel & Business Flats' 'Radisson Hotel Antwerp Berchem'
 'Luxury Suites Palace' 'a&o Dortmund Hauptbahnhof' 'Moxy Dortmund City'
 'NH Dortmund' 'Hotel Excelsior Dortmund Hauptbahnhof' 'LivInn Hotel'
 'prizeotel Dortmund-City' 'Hampton By Hilton Dortmund Phoenix See'
 'ibis budget Dortmund West' 'Hotel Union'
 'Residence Inn by Marriott Dortmund City' 'Days Inn Dortmund West'
 'Hotel Unique Pearl' 'Dorint An den Westfalenhallen Dortmund'
 'Home Hotel' 'Holiday Inn Express Dortmund, an IHG Hotel'
 'Mercure Hotel Dortmund Centrum' 'DJH Jugendgästehaus Adolph Kolping'
 'Hotel der Lennhof' 'Tondose Apartment' 'Hotel Esplanade Dortmund'
 'B&B Hotel Dortmund-City' 'Leonardo Hotel Dortmund'
 'Basecamp Hotel Dortmund' 'PS-Projektentwicklung'
 'BRIGHT Dortmund City Center' 'Coffee Fellows Hotel Dortmund'
 'Pension Sölde' 'Courtyard by Marriott Dortmund' "l'Arrivée Hotel & Spa"
 'Moods Hotel Dortmund' 'Deluxe Wohnungen Dortmund Mitte'
 'NP Hotel Königshof' 'Parkhotel Wittekindshof' 'Akzent Hotel Körner Hof'
 'ibis Hotel Dortmund City' 'TM Aparts' 'S & D Hotel Dortmund'
 'Design Apartments 1' 'Hotel Senator' 'NYCE Hotel Dortmund Thier Galerie'
 'G & L City Rooms' 'Hotel Prinsenhof Amsterdam'
 'Holiday Inn Express Amsterdam Arena Towers, an IHG Hotel'
 'The Delphi - Amsterdam Townhouse' 'Motel One Amsterdam'
 'Mercure Hotel Amsterdam West' 'Olympic Hotel' 'Via Amsterdam'
 'Park Centraal Amsterdam, part of Sircle Collection' 'W Amsterdam'
 'Hotel V Frederiksplein' 'nhow Amsterdam Rai'
 'Holiday Inn Express Amsterdam - City Hall, an IHG Hotel'
 'Leonardo Royal Hotel Amsterdam' 'Qbic Amsterdam WTC'
 'Holiday Inn Express Amsterdam - South, an IHG Hotel'
 'Sofitel Legend The Grand Amsterdam' 'Jaz in the City Amsterdam'
 'Apollo Hotel Amsterdam, a Tribute Portfolio Hotel'
 'DoubleTree by Hilton Amsterdam Centraal Station'
 'Holiday Inn Amsterdam - Arena Towers, an IHG Hotel'
 'Moxy Amsterdam Houthavens' 'citizenM Amsterdam South'
 'Holiday Inn Express Amsterdam - Sloterdijk Station, an IHG Hotel'
 'The Social Hub Amsterdam City' 'Mövenpick Hotel Amsterdam City Centre'
 'the niu Fender' 'OZO Hotels Arena Amsterdam'
 'Max Brown Hotel Canal District, part of Sircle Collection'
 'Hotel Casa Amsterdam'
 'Holiday Inn Express Amsterdam - North Riverside, an IHG Hotel'
 'Hotel V Fizeaustraat' 'Mercure Amsterdam North Station'
 'Max Brown Hotel Museum Square, part of Sircle Collection' 'Volkshotel'
 'Mister Highland Hotel' 'Aparthotel Adagio Antwerp City Center'
 'ibis budget Antwerpen Port' 'YUST Antwerp'
 'Lindner Hotel Antwerp, part of JdV by Hyatt' 'The ASH'
 'Opera-square Apartments in the Heart of Antwerp'
 'Van der Valk Hotel Antwerpen' 'Your home in antwerpen N7'
 'Tulip Inn Antwerpen' 'Cozy Apartment on Best Location in Antwerp'
 'P6 Antwerp' 'Hotel Banks' 'Antwerp Central Youth Hostel'
 'Smartflats - Avenue Antwerp' 'Leonardo Hotel Antwerp The Plaza'
 'Beautiful Cozy Apartments in the Heart of Antwerp' 'The Red With Pearls'
 'stays design Hotel Dortmund' 'IntercityHotel Dortmund'
 'Best Western Hotel Dortmund Airport' 'Hotel Ambiente' 'Hotel Annis M&P'
 'Apartment in the center' 'Big Apartments' 'City-Pension-Dortmund'
 'Hotel- Restaurant Kerzan´s'
 'Apartments in the city center I private parking I digital access I home2share'
 'Zentrale Wohnung in Dortmund' 'DO One Bedroom Flat'
 'Motel One Amsterdam-Waterlooplein' 'Aadam Hotel Wilhelmina'
 'Courtyard by Marriott Amsterdam Arena Atlas' 'ibis Amsterdam City West'
 'Leonardo Hotel Amsterdam Rembrandtpark'
 'Leonardo Hotel Amsterdam City Center' 'Best Western Amsterdam'
 'Bastion Hotel Amsterdam Zuidwest' 'The Social Hub Amsterdam West 4 star'
 'Catalonia Vondel Amsterdam'
 'Corendon Amsterdam New-West, a Tribute Portfolio Hotel'
 'Novotel Amsterdam City' 'PREMIER SUITES PLUS Amsterdam'
 'The July - Twenty Eight' 'Bastion Hotel Amsterdam Amstel'
 'Hotel Library Amsterdam' 'Multatuli Hotel'
 'Kathedraallogies Drie Koningen' 'Trip Inn Eden Antwerpen'
 'Condo Gardens Antwerp' 'Hotel1875' 'Hyllit Hotel'
 'Japie rooms - in the heart of Antwerp' 'Leeuwerik sdudio'
 "Hotel 'T Sandt" 'Sān home’s' 'Sam in Antwerp' 'Hotel Matelote'
 'Mercure Hotel Dortmund Messe' 'Hotel Unique Dortmund Hauptbahnhof'
 'Mercure Hotel Dortmund City' 'ibis Styles Dortmund West'
 'Radisson Blu Hotel Dortmund' 'NYCE Hotel Dortmund City'
 'The Grey Design Hotel' 'Ringhotel Drees'
 'Zentrale Unterkunft in Dortmund City' 'Hotel NeuHaus'
 'Hotel Biedermeier' 'Canal Wow Suites Amsterdam' 'BLAUWE HOORN'
 'The Highlander' 'Passengership Avanti' 'Hotel Hortus'
 'Swissôtel Amsterdam' 'Hotel Sint Nicolaas' 'Mozart Hotel'
 'Hotel Pontsteiger' 'A-Train Hotel' 'The Highland House'
 'DoubleTree by Hilton Amsterdam - NDSM Wharf'
 'Radisson Blu Hotel, Amsterdam City Center' 'NH Amsterdam Zuid'
 'Budget Hotel Tourist Inn' 'Hotel Estheréa' 'Hotel Flipper Amsterdam'
 "Sara's Boutique Hotel" 'Amsterdam House Hotel' 'Generator Amsterdam'
 'Amsterdam Wiechmann Hotel' 'Luxury Suites Castel'
 'Luxury Suits Historic Center' 'The 1880 Residence by Domani Hotels'
 'Luxury Rooms' 'Hotel Carlton' 'Design Apartments 2' 'Hotel Fürst Garden'
 'Studio 229' 'Plantage Garden Apartments' 'Bunk Hotel Amsterdam'
 'Hotel Isis' 'easyHotel Amsterdam Arena Boulevard'
 'New West Inn Amsterdam' 'Crown Hotel' 'Hotel Vondel Garden City Centre'
 'The Flying Pig Downtown' 'G Experience Hotel' 'Budget Hotel Ben'
 'Bens The Highdocks' 'Conscious Hotel Westerpark'
 'B&B Amsterdam Holy Dove' 'House of Amstel' 'Conscious Hotel Vondelpark'
 'Travel Hotel Amsterdam' 'Guest House Amsterdam' 'De Mallemoolen'
 'Stayokay Hostel Amsterdam Vondelpark' 'Hotel Torenzicht'
 'Facade Hotel Amsterdam' 'Hostel Utopia' 'Hotel La Belle Vue'
 'Family Hotel Kooyk' 'Princess Hostel Leidse Square Amsterdam'
 'Luxury Suites Central' 'Luxury Suites Boutique'
 'Garden Suite in city center' 'Sint-Jans Appartments' "Nammos Home's"
 'Beautiful sunny apartment' 'Luxury Suites' "Coco's"
 'Сarnot Apartments ZOO Area' 'Steigenberger Dortmund'
 'Apartement Central 40qm Wi-Fi free Parking calm back house 10B'
 'B&B Hotel Dortmund Messe' 'Hotel Larende' 'Pension Homeland' 'Ecomama'
 'Melrose Hotel' 'Amsterdam Downtown Hotel'
 'The Lancaster Hotel Amsterdam' 'Hotel Manofa' 'The Unbound Amsterdam'
 "LouLou Home's" 'XO Hotels Infinity' 'NL Hotel District Leidseplein'
 'The Social Hub Amsterdam West' 'Hotel Internationaal'
 'Hans Brinker Hostel Amsterdam' 'Hotel de Westertoren'
 'Huygens Place Amsterdam' 'Hotel Aalders' 'THIS HO(S)TEL'
 'Q-Factory Hotel' 'Citiez Hotel Amsterdam'
 'Anantara Grand Hotel Krasnapolsky Amsterdam' 'Heart of Amsterdam Hotel'
 'Hotel Fita' 'De L’Europe Amsterdam – The Leading Hotels of the World'
 'Hapimag Apartments Amsterdam' 'Hotel Cornelisz'
 'Luxury Suites Cathedral' 'Luxury Suites Riverside Residence'
 'Royal South - Apartment Antwerp with Parkview'
 'Apartement Central 40qm Wi-Fi free Parking calm back house 10C'
 'Central 40qm Wi-Fi free Parking calm back house 10A'
 'Amsterdam Marriott Hotel' 'Hotel Damsquare' 'Hotel Mosaic Appartments'
 'Hotel Mosaic City Centre' 'City Hotel Amsterdam'
 'Hotel Continental Amsterdam' 'Park Plaza Victoria Amsterdam'
 'Tivoli Doelen Amsterdam Hotel'
 'Residence Inn by Marriott Amsterdam Houthavens' 'Hotel CC'
 'Hotel Diamonds and Pearls' 'YAYS Antwerp Opera' 'Antwerp Harbour Hotel'
 'Gulde Schoen Luxury Studio-apartments' 'G & L Hotel Dortmund'
 'Hotelboat Angeline' 'Alp Hotel'
 'Andaz Amsterdam Prinsengracht - a concept by Hyatt' 'Hotel V Nesplein'
 'Crowne Plaza Amsterdam - South, an IHG Hotel' 'Hotel Roemer Amsterdam'
 'The Muse Amsterdam - Boutique Hotel' 'Beautiful studio' 'Theater Hotel'
 'Ambassador Suites Antwerp' 'Hotel Antwerp Billard Palace'
 'Opera Square Apartments in the Heart of Antwerp' "Dieckmann's Hotel"
 'Hotel In der Meile' 'Dortmund City Wohnung 85/7'
 'Sellmann´s Boutique Hotel' 'City Wohnung Zentral 89-10'
 'Idyllisches Nest über den Dächern' 'Hotel Drei Kronen'
 'Moderne Wohnung Messe Uni Stadion'
 'Appartement House Dortmund "Studio App SANSIBAR"'
 'Phöenixpalace Whirlpool & Infarotsauna' 'Road Stop Dortmund'
 'City Flats Dortmund' 'Modernes Appartement Nähe City'
 'Ferienwohnung Dortmund - Elias - Adults Only' 'Hotel Specht'
 'Lea´s Apartment´s' 'FeWo Born'
 'Nähe BVB Stadion Dortmund City Innenstadt'
 'Mercure Amsterdam City Hotel' 'Element Amsterdam'
 'Bilderberg Garden Hotel' 'Hilton Amsterdam'
 'Renaissance Amsterdam Hotel' 'Postillion Hotel Amsterdam'
 'Eric Vökel Boutique Apartments - Amsterdam Suites'
 'Grand Hotel Amrâth Amsterdam' 'Qstay Good Living Apartments'
 'Casa ENRICO' 'The Museum - Au Lit, Jérôme!'
 'Gepflegte Wohnungen in der Innenstadt'
 'NH Collection Amsterdam Barbizon Palace' 'NEWLY OPENED - Parklane Hotel'
 'Met Hotel Amsterdam' 'Eden Hotel Amsterdam' 'Hotel Damrak Inn'
 'NH Collection Amsterdam Flower Market' 'NH Amsterdam Caransa'
 'Hyatt Regency Amsterdam' 'Kaai11, Boutique Hotel Riverview'
 'Smartflats - Raphael Suites'
 'Botanic Sanctuary Antwerp - The Leading Hotels of the World'
 'Apartment in zentraler Lage zur Dortmunder Innenstadt'
 'NH Amsterdam Schiller' 'Kimpton De Witt Amsterdam, an IHG Hotel'
 'NH Amsterdam Leidseplein' 'The Hoxton, Lloyd Amsterdam' 'France Hotel'
 'Herengracht Private room with canal view' 'citizenM Amstel Amsterdam'
 'BONJOUR Apartments Сentre 3' 'Hotel Pagi'
 'Gemütliches Apartment direkt am Hafen von Dortmund'
 'Apartment direkt am Hafen - mit Terrasse und UHD TV' 'TWENTY FIVE Rooms'
 'Hotel 83' 'Koopermoolen' 'Botel Zwaantje' 'Hotel Sharm' 'Anna Maria II'
 'B in Antwerp' 'Hotel Postkutsche' 'Bob W Amsterdam Noord'
 'Kapitein Anna' 'Delta Hotel City Center' 'Quentin England Hotel'
 'Chassé Hotel Residency' 'Belgiëlei 94' 'Hotel Les Nuits'
 'Quartier Le Sud' 'Rock Lobster City Lodge' 'The Blue Parrot' 'The Suit'
 'Prinsengracht Hotel' 'Hotel Van Gogh' 'Grand Canal Boutique Hotel'
 'The Banker Antwerpen - Free Parking' 'B&B Suites FEEK'
 'The ED Amsterdam' 'Nova Hotel' 'Hotel La Bohème' 'Train Lodge Amsterdam'
 'ibis Amsterdam Centre Stopera' 'OZO Hotels Cordial Amsterdam'
 'Hotel Prins Hendrik' 'Acostar Hotel' 'Hotel Oscar'
 'Cosy apart Antwerpen center3' 'Viktoria HOSTEL' 'Apartments Bex.'
 'B&B The Baron' 'Gildenhof An den Westfalenhallen Dortmund'
 'ibis Amsterdam Centre' 'ibis Styles Amsterdam Central Station'
 'Hotel Dwars' 'Hotel Urban Dreams' 'Charming Suites Jan Zonder Vrees'
 'Hotel Mezonvin' 'The Old Beech' 'The Light Blue Parrot'
 'Budget Hotel Neutraal' 'Hotel Jimmy' 'The July - Boat & Co' 'B&B Kava'
 'Antwerp Business Suites' 'Appartement met uitzicht op het MAS'
 'Bed & Breakfast Exterlaer' 'Harmony House' 'B&B Maryline' 'Hotel Pilar'
 'Vrijdagmarkt by Lit d’Art' 'Luxury Suites Arendshof'
 'Boutique Apartment Scheldt' 'LePalaisduSud' 'XO Hotels Blue Square'
 'The Old Nickel Hotel' 'Hotel Park Plantage' 'V Lofts'
 'The Hendrik Square Residence' 'NH City Centre Amsterdam'
 'Tribe Amsterdam City' 'Apartment 229' 'Aston City Hotel'
 'The Capital Street Lodge' 'The Grand Apartment. Center of Antwerp'
 'The Capital Street Triplex' 'B&B Parkhuys' 'Brial apartment 2 bedrooms,'
 'Le Marnix' 'The Black Pants' 'Hotel Sebastians'
 'Boutique Hotel Notting Hill'
 'Tempel Triplex & Duplex at Historic Heart of Antwerp'
 'Kyoto Suites - Center Antwerp!' 'The Soul Antwerp' 'B&B BedStarLine'
 'Cityview Apartment w/Terrace'
 'Apartments Plantin 3 sleeping rooms 2 bathrooms.' '"2600"'
 'Isabel Apartments' '1 slaapkamerappartement' 'Roosevelt Apartments.'
 'Huize Amoras' 'august' 'Novotel Antwerpen' 'Suikerrui 16 App 102'
 'Designed Penthouse, Amsterdam city center' 'Hotel Verdi'
 'Hotel Corner House' 'Hotel tip butique' 'De Keyser Hotel'
 'Top located cozy apartments next to KMSKA' 'Hotel Riga' 'Hotel FRANQ'
 'Joseph(ine)' 'Boutique hotel Maison Emile' 'Hotel Julien' 'Flora'
 'FMS Logie' 'Hotel Colvenier' 'Cabosse, Suites & Spa'
 'Boho apartment Antwerp south' 'Antwerp City Hostel' 'Boomerang Antwerp'
 'Leonardo Boutique Museumhotel' 'Hotel Nes' 'XO Hotels City Centre'
 'ibis Styles Amsterdam Amstel' '22b&b' 'Mañana Mañana' 'Musa Antwerp'
 'Bright Apartments In The Heart Of Antwerp' 'Hotel Restaurant Old Bridge'
 'Hotel The Bird' 'Hotel Old Quarter' 'Hotel Mai Amsterdam'
 'BnB Antwerp Centrum' 'Eelhouse private studio' 'Cityview Hotel'
 "JamieK's BnB" 'Penth A Apartment in Heart of Antwerp'
 'Villa Mercurius Grote Markt'
 'City PENTHOUSE, rooftop terrace, free NETFLIX, wifi and airco'
 'Hotel Not Hotel Amsterdam' 'Best Western Dam Square Inn'
 'CityHub Amsterdam' 'NH Amsterdam Museum Quarter'
 'Belga Apartment 3 bedrooms.' 'Central Park Apartments'
 'Luxury Suites Princess' 'Blue Lagoon in the city' 'Apple Inn Hotel'
 'Schöne Apartment in Dortmund Bövinghausen' 'Overkamp'
 'Zur schönen Aussicht I 90 m² I Idyllisch I Zuhause' 'TM Suites'
 'Großzügige Neubauwohnung mit Blick auf den Phönix-See'
 'Appartement House Dortmund "Lounge Appartement"'
 '3 Zimmer Wohnung in Dortmund' 'TM Studio'
 'FeWo Hafen: Apartment in a Great Location'
 'Appartements DW16~17~19 in Dortmund' 'Royal Plaza Hotel Amsterdam'
 'Quentin Amsterdam Hotel' 'Hotel Doria'
 'MEININGER Hotel Amsterdam Amstel' 'Hotel & bar Royal taste Amsterdam'
 'Hotel Heye 130' 'Campanile Hotel & Restaurant Amsterdam Zuid-Oost'
 'City Wohnung Zentral 89-11' 'Van der Valk Hotel Amsterdam - Amstel'
 'WestCord Fashion Hotel Amsterdam' 'Mercedes Bed&Breakfast Amsterdam'
 'Bacchus Antwerpen - Rooms & Apartments' 'Le Leopold' 'Via Suites'
 'Krisotel' 'Four Elements Hotel' 'B&B Luxe Suites 1-2-3'
 'Stayokay Hostel Amsterdam Oost' 'Boutique Hotel View'
 'Inntel Hotels Amsterdam Centre' 'Hotel Luxer' 'The Hoxton, Amsterdam'
 'The Bank Hotel' 'Golden Mansion Aparthotel' 'Guesthouse Bernardin'
 'Adam Suites Hotel' 'BnB 117' 'WestCord Art Hotel Amsterdam 3 stars'
 'COMMUNE suites' 'INNSiDE by Meliá Amsterdam'
 'Pestana Amsterdam Riverside' 'Hotel & Wellness Zuiver'
 'Romantische Studio in Harmoniewijk' 'Rho Hotel'
 'Pillows Grand Boutique Hotel Maurits at the Park - Small Luxury Hotels'
 'Fletcher Hotel Amsterdam' 'Ice studio' 'Luxury Suites Amsterdam'
 'Breitner House' 'NH Collection Barbizon Palace Apartments'
 'Marnix Classic: Group Getaway' 'Waldorf Astoria Amsterdam'
 'Luxury apartment in the city center'
 'Unique Ground-Floor Appartment with Beautiful Garden in Amsterdam'
 'Amigo Hotel' 'canal house, best place Amsterdam' 'Perl' 'ADA'
 'Dream Hotel Amsterdam'
 'Hotel Okura Amsterdam – The Leading Hotels of the World'
 'Ciao Papa Hotel Amsterdam Central Station' 'Grand Hotel Downtown'
 'WestCord City Centre Hotel'
 'nice and cosy place with jacuzzi and sauna to relax in the centre of antwerp'
 'Your homestay in a bibliophile mansion'
 'Modernes Apartment auf 2 Etagen in ruhiger Lage zentral zu Stadion und Westfalenhallen'
 'MEININGER Hotel Amsterdam City West' 'Rooms25' 'Nadia Hotel'
 'NH Amsterdam Noord' 'Amadi Park Hotel' 'INK Hotel Amsterdam - MGallery'
 'BTFL Living Antwerp' 'Studio Eelhouse'
 'Skotel Amsterdam, Hotelschool The Hague' 'Voyagers Amsterdam'
 "Blaine's: A B&B and private dining...."
 'Sotel Amsterdam Central Station' 'Hotel Arena' 'Van Lerius studio'
 'Frank’s and Chong’s excellent location' 'Hotel Jakarta Amsterdam'
 '85I Dortmund City Wohnung' 'The Diem Amsterdam' 'Hotel Atlanta'
 'Upstairs' 'Nine Streets Inn' 'Hotel Rubenshof' 'The White Tulip Hostel'
 'De Durgerdam' 'BackStage Hotel' 'Amsterdam Hostel Sarphati' 'Cocomama'
 'Cozy Antwerp - Cityview Studio FREE PARKING'
 'SLEEP INN - Black and Gold Loft Antwerp Cityview'
 'Apartement Central 55qm Wi-Fi free Parking calm back house 10D'
 'hotel calisto' 'Authentic Ship with a stunning view!'
 'Rembrandt Square Hotel' 'WesterVilla' 'Puur B&B' 'The Greenhouse'
 "'t Hotel" 'Room Mate Aitana' 'Bkenkember Apart' 'Fashion City 2'
 'Kloosterloft' "Charlie's Bed & Breakfast" 'Thai Time Wellness'
 'PS5+55 Zoll 4K Fernseher - Gaming Apartment'
 '2 Room Messe Kongress Stadion'
 'Apartment direkt am Hafen - mit UHD TV und Netflix' 'SUPPER Hotel'
 'The College Hotel Amsterdam, Autograph Collection'
 'Conservatorium Hotel' 'The Roof - Rooftop appt in historical center'
 'AmsterHome Hotel' 'GROGO DUPLEX APPARTMENT(CENTRE OF ANTWERP)'
 'TRUTH für 3 - Moderne Küche - Smart TV - Teppichboden' 'Dock 29'
 'Antwerp For Two B&B' 'Jan Luyken Amsterdam'
 'OZO Hotels Armada Amsterdam' 'CampIn Hotel' 'XO Hotels Couture'
 'Panoramic Antwerpen Centrum' 'EMPIRIC Keizersgracht'
 'Cityden BoLo District' 'CITYSTAY' 'City Wohnung Zentral 85-5'
 'Monet Garden Hotel Amsterdam' 'Hotel van Gelder'
 'B & B Tulp Amsterdam Noord' 'B&B Sint-Mariaburg'
 'The Enlightened House Luxury Suites'
 'The View - spacious 2 bdr appt in with view'
 'Amsterdam House of Arts & Crafts' 'Houseboat Sophia' 'Logies Lapin'
 'Spacious' 'Outside Inn' 'Suite 11' 'The Wonder Shore' 'The Mansion'
 'Bridge Inn' 'Klavergeluk' 'B&B House No 7' "Marijke's guestroom"
 'Cozy Canal Studio' 'All-in Penthouseroom' 'Dortmund City Wohnung 85/3'
 'Westfalenpark Apartment with terrace and free parking'
 'Wohnung am Phönixsee' 'The Panorama Suite (Mandelahuisje)'
 'Amsterdam Houseboat amstel'
 'Neubauwohnung mit Panoramablick auf den Phönixsee'
 'Dortmund City Wohnung 85/6' 'Paradise Apartments'
 'TRUTH Studio für 3 - Küche - Top Internet - Parkplatz - Modern'
 'Wohnung Nähe Uni,Stadion' 'schlafgut24' 'Monteur-Bungalow Dortmund'
 'TRUTH - Kingsize Bett - Smart TV - Modern - Top Anbindung'
 'Van der Valk Hotel Amsterdam Zuidas -Rai' 'The Fountain Loft - 170sqm'
 'Oever House' 'Vondel 99' 'Amsterdam Hostel Uptown' 'Prinsenhotel'
 'InterContinental Amstel Amsterdam, an IHG Hotel'
 'Inntel Hotels Amsterdam Landmark'
 'Banks Mansion - All Inclusive Boutique Hotel'
 "art'otel amsterdam, Powered by Radisson Hotels"

[None, None, None, None, None, None, None, None, None, None, None, None]

In [144]:
print("Missing Values:")
print(df.isnull().sum())

Missing Values:
name                            0
location                        0
price                           0
date                            0
stars                       22224
distance_from_center            0
num_external_reviews          528
booking_user_ratings          528
avg_user_ratings             1088
airport_taxi                    0
travel_sustainable_level    13789
has_free_cancelation            0
dtype: int64

Above we can see all the unique values. We can conclude that 

1. the **price** should be converted into Euros and MKD prefix should be removed from the entries. 
2. **stars** column contains Nan values (at least 1), so we should replace them with 0. This would only make sense since nan would represent no stars present, i.e. 0 stars.
3. **distance from center** is represented in string format. We can rename the column and represent the entries in int values, i.e. km from center.
4. **number of external reviews** contains a colon mark and 'reviews' suffix which should both be removed and the column represented as an int column
5. **booking user ratings** also contains dirty data. Nan, "Review score" and user ratings that were incorectly parsed when scraping. These will be converted to numerical values with the help of a dictinary mapping.
6. **airport taxi** contains values that we are not interested in, we will remove these and mark them as Nan.
7. we will also map the **travel sustainable level** column into int values.
8. **avg_user_ratings** is a column of user ratings from (1-10), we can clean this up by applying the average user rating of all the hotels residing in the given area/town.
9. **airport_taxi** is a column defining wether the hotel/appartment has an airport taxi available, we should consider Nan the same as "No airport taxi".
10. **date** column contains a list of 2 dates - arriving and departure dates, we really only need the first date, i.e. the date of stay.

## Clean up the data

#### 1. the **price** should be converted into Euros and MKD prefix should be removed from the entries

In [145]:
mkd_to_euro_coef = 0.01626717
df["price"] = df["price"].str.replace(r'[MKD,]', '', regex=True).str.strip().astype(int) * mkd_to_euro_coef

In [146]:
df['price']

0        233.450157
1        144.615141
2         85.679184
3         30.061730
4         50.102884
            ...
54909    190.748835
54910    119.254623
54911    190.390958
54912     84.768223
54913    215.865346
Name: price, Length: 54914, dtype: float64

#### 2. **stars** column contains Nan values (at least 1), so we should replace them with 0. This would only make sense since nan would represent no stars present, i.e. 0 stars.

In [147]:
df['stars'].fillna(0,inplace=True)
df['stars'] = df['stars'].astype(int)
df['stars'].unique()

array([4, 0, 2, 3, 1, 5])

#### 3. **distance from center** is represented in string format. We can rename the column and represent the entries in int values, i.e. km from center.

In [148]:
df["distance_from_center"] = df["distance_from_center"].str.extract("([\d.]+)",expand=False).astype(float)
df = df.rename({"distance_from_center": "km_from_center"}, axis="columns")
df["km_from_center"]

0         0.6
1         1.7
2         4.2
3         1.2
4         2.1
         ...
54909     0.6
54910    10.9
54911     3.0
54912     5.0
54913     1.1
Name: km_from_center, Length: 54914, dtype: float64

#### 4. **number of external reviews** contains a colon mark and 'reviews' suffix which should both be removed and the column represented as an int column

In [149]:
df['num_external_reviews'] = pd.to_numeric(df['num_external_reviews'].str.replace('[^\d]+', '', regex=True), errors='coerce')

In [150]:
df['num_external_reviews'] = df['num_external_reviews'].fillna(0).astype(int)
df["num_external_reviews"]

0        1044
1        3190
2        1155
3        1820
4        2205
         ...
54909      11
54910      16
54911       3
54912       0
54913       0
Name: num_external_reviews, Length: 54914, dtype: int64

#### 5. **booking user ratings** also contains dirty data. Nan, "Review score" and user ratings that were incorectly parsed when scraping. These will be converted to numerical values with the help of a dictinary mapping.

We will count Review score as a lack of rating and map it the same value as Nan.

In [151]:
import numpy as np
df['booking_user_ratings']= df['booking_user_ratings'].str.extract('([^\d]+)', expand=False).str.strip()
df['booking_user_ratings'] = df['booking_user_ratings'].replace('Review score', np.nan )
df['booking_user_ratings'].unique()

array(['Excellent', 'Good', 'Very Good', nan, 'Wonderful', 'Exceptional'],
      dtype=object)

In [152]:
ratings_mapping = {'Good': 1, 'Very Good': 2, 'Wonderful': 3, 'Exceptional': 4,'Excellent': 5, np.nan: 0}
df['booking_user_ratings'] = df['booking_user_ratings'].map(ratings_mapping)

In [153]:
df['booking_user_ratings'].unique()

array([5, 1, 2, 0, 3, 4])

#### 6. **airport taxi** contains values that we are not interested in, we will replace these and mark them as Nan.

In [154]:
df['airport_taxi'] = df['airport_taxi'].replace(['Limited-time Deal', 'Early 2024 Deal'], np.nan)
df['airport_taxi'].unique()

array([nan, 'No airport taxi', 'Free airport taxi'], dtype=object)

#### 7. we will also map the **travel sustainable level** column into int values.

In [155]:
level_mapping = {
    'Travel Sustainable Level 1': 1,
    'Travel Sustainable Level 2': 2,
    'Travel Sustainable Level 3': 3,
    'Travel Sustainable Level 3+': 4
}
df['travel_sustainable_level'] = df['travel_sustainable_level'].map(level_mapping).fillna(0).astype(int)
df["travel_sustainable_level"].unique()

array([4, 0, 3, 1, 2])

#### 8. handle **avg_user_ratings**. In certain instances, some locations have been designated with the title of their Municipality rather than using the name of the encompassing city to refer to that specific area. We will map these municipalities into the correct cities.

In [156]:
df['location'].unique()

array(['Amsterdam City Center, Amsterdam', 'Oud Zuid, Amsterdam',
       'Oost, Amsterdam', 'Westpoort, Amsterdam', 'Oud West, Amsterdam',
       'Amsterdam Noord, Amsterdam', 'Osdorp, Amsterdam',
       'Geuzenveld-Slotermeer, Amsterdam', 'Zuidoost, Amsterdam',
       'Zeeburg, Amsterdam', 'Sloterdijk, Amsterdam',
       'Antwerp Center, Antwerp', 'Antwerp', 'Berchem, Antwerp',
       'Dortmund City Centre, Dortmund', 'Dortmund',
       'Zuideramstel, Amsterdam', 'Slotervaart, Amsterdam',
       'Bijlmermeer, Amsterdam', 'Borgerhout, Antwerp', 'Amsterdam',
       'Westerpark, Amsterdam', 'Bos en Lommer, Amsterdam',
       'Deurne, Antwerp', 'Wilrijk, Antwerp', 'Hoboken, Antwerp',
       'Merksem, Antwerp', 'De Baarsjes, Amsterdam', 'IJburg, Amsterdam',
       'Turnhout', 'Beerse', 'Merksplas', 'Oud-Turnhout', 'Gierle',
       'Rijkevorsel', 'Vlimmeren', 'Kasterlee', 'Baarle-Hertog'],
      dtype=object)

In [157]:
df['town_location'] = df['location'].str.split().str[-1]
df['town_location'].unique()

array(['Amsterdam', 'Antwerp', 'Dortmund', 'Turnhout', 'Beerse',
       'Merksplas', 'Oud-Turnhout', 'Gierle', 'Rijkevorsel', 'Vlimmeren',
       'Kasterlee', 'Baarle-Hertog'], dtype=object)

In [158]:
municipality_to_city_map = {
    'Turnhout': 'Antwerp',
    'Beerse': 'Antwerp',
    'Merksplas': 'Antwerp',
    'Oud-Turnhout': 'Antwerp',
    'Gierle': 'Antwerp',
    'Rijkevorsel': 'Antwerp',
    'Vlimmeren': 'Antwerp',
    'Kasterlee': 'Antwerp',
    'Baarle-Hertog': 'Antwerp'
}

In [159]:

df['town_location'] = df['town_location'].replace(municipality_to_city_map)

df_mean_rating_by_town = df.groupby(df['town_location'].str.split().str[-1])['avg_user_ratings'].transform('mean')
df['avg_user_ratings'] = df['avg_user_ratings'].fillna(df_mean_rating_by_town)
df['town_location'].unique()

array(['Amsterdam', 'Antwerp', 'Dortmund'], dtype=object)

#### 9. handle **airport_taxi**

In [160]:
df[['airport_taxi']] = df[['airport_taxi']].fillna('No airport taxi') 
df['airport_taxi'] = df['airport_taxi'].map({'Free airport taxi': 1, 'No airport taxi': 0})

#### 10. clean up **date** column so that only 1 date (date of stay) is present

In [161]:
import ast
df['date'] = df['date'].apply(ast.literal_eval)
df['date'] = pd.to_datetime(df['date'].apply(lambda x: x[0]))

### Now we can finaly see our work... and how far we've come

In [162]:
nan_rows = df[df.isnull().any(axis=1)]
nan_rows

Empty DataFrame
Columns: [name, location, price, date, stars, km_from_center, num_external_reviews, booking_user_ratings, avg_user_ratings, airport_taxi, travel_sustainable_level, has_free_cancelation, town_location]
Index: []

### The current state of our DF

In [163]:
df

,name,location,price,date,stars,km_from_center,num_external_reviews,booking_user_ratings,avg_user_ratings,airport_taxi,travel_sustainable_level,has_free_cancelation,town_location
0,"The Pavilions Amsterdam, The Toren","Amsterdam City Center, Amsterdam",233.450157,2024-02-01,4,0.6,1044,5,8.900000,0,4,False,Amsterdam
1,Sonder Park House,"Oud Zuid, Amsterdam",144.615141,2024-02-01,4,1.7,3190,1,7.500000,0,0,True,Amsterdam
2,Hotel Jansen Amsterdam Bajeskwartier,"Oost, Amsterdam",85.679184,2024-02-01,0,4.2,1155,2,8.300000,0,3,True,Amsterdam
3,AmicitiA,"Amsterdam City Center, Amsterdam",30.061730,2024-02-01,0,1.2,1820,1,7.100000,0,0,True,Amsterdam
4,Hotel Washington,"Oud Zuid, Amsterdam",50.102884,2024-02-01,2,2.1,2205,1,7.300000,0,0,False,Amsterdam
...,...,...,...,...,...,...,...,...,...,...,...,...,...
54909,Schöne 2 1/2 Zimmer Wohnung im Herzen von Dort...,"Dortmund City Centre, Dortmund",190.748835,2025-01-31,0,0.6,11,5,8.600000,0,0,False,Dortmund
54910,schlafgut24,Dortmund,119.254623,2025-01-31,0,10.9,16,4,9.600000,0,2,False,Dortmund
54911,3 Zimmer Wohnung in Dortmund,Dortmund,190.390958,2025-01-31,0,3.0,3,2,8.000000,0,0,False,Dortmund
54912,"Wohnung Nähe Uni,Stadion",Dortmund,84.768223,2025-01-31,0,5.0,0,0,7.789035,0,0,False,Dortmund
54913,FeWo Born,Dortmund,215.865346,2025-01-31,0,1.1,0,0,7.789035,0,0,False,Dortmund

### The last thing we would need to do is divide the df into two seperate df since there are great differences between them.

In [164]:
df_antwerp = df[df['town_location']=='Antwerp']
df_dortmund = df[df['town_location']=='Dortmund']
df_amsterdam = df[df['town_location']=='Amsterdam']

12. We also need to encode 'has_free_cancelation'

In [165]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

df['has_free_cancelation'] = label_encoder.fit_transform(df['has_free_cancelation'])

#### Now we create a list of these dfs and apply the methods bellow to the dfs

In [166]:
## now make all code bellow in a function so that i can run in for each df
all_dfs = {"all": df,"Antwerp": df_antwerp, "Dortmund": df_dortmund, "Amsterdam": df_amsterdam}

In [167]:
import papermill as pm

for single_df in all_dfs:
    all_dfs[single_df]["date"]=all_dfs[single_df]["date"].astype(str)
    df_dict = all_dfs[single_df].to_dict(orient='records')
    print(single_df)
    
    pm.execute_notebook(
        './preprocessing_script.ipynb',
        './output_'+single_df+'.ipynb',
        parameters=dict(df=df_dict,df_name=single_df)
    )

Passed unknown parameter: df
Passed unknown parameter: df_name

all

Input notebook does not contain a cell with tag 'parameters'
Executing:   0%|          | 0/37 [00:00<?, ?cell/s]0.00s - Debugger warning: It seems that frozen modules are being used, which may
0.00s - make the debugger miss breakpoints. Please pass -Xfrozen_modules=off
0.00s - to python to disable frozen modules.
0.00s - Note: Debugging will proceed. Set PYDEVD_DISABLE_FILE_VALIDATION=1 to disable this validation.
Executing: 100%|██████████| 37/37 [03:04<00:00,  4.97s/cell]
/var/folders/tw/dszf86bn0kjgzxp0v_8g35sc0000gn/T/ipykernel_76584/2119138737.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_dfs[single_df]["date"]=all_dfs[single_df]["date"].astype(str)
Passed unknown parameter: df
Passed unknown parameter: df_name

Antwerp

Input notebook does not contain a cell with tag 'parameters'
Executing:   0%|          | 0/37 [00:00<?, ?cell/s]0.00s - Debugger warning: It seems that frozen modules are being used, which may
0.00s - make the debugger miss breakpoints. Please pass -Xfrozen_modules=off
0.00s - to python to disable frozen modules.
0.00s - Note: Debugging will proceed. Set PYDEVD_DISABLE_FILE_VALIDATION=1 to disable this validation.
Executing: 100%|██████████| 37/37 [00:52<00:00,  1.42s/cell]
/var/folders/tw/dszf86bn0kjgzxp0v_8g35sc0000gn/T/ipykernel_76584/2119138737.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_dfs[single_df]["date"]=all_dfs[single_df]["date"].astype(str)
Passed unknown parameter: df
Passed unknown parameter: df_name

Dortmund

Input notebook does not contain a cell with tag 'parameters'
Executing:   0%|          | 0/37 [00:00<?, ?cell/s]0.00s - Debugger warning: It seems that frozen modules are being used, which may
0.00s - make the debugger miss breakpoints. Please pass -Xfrozen_modules=off
0.00s - to python to disable frozen modules.
0.00s - Note: Debugging will proceed. Set PYDEVD_DISABLE_FILE_VALIDATION=1 to disable this validation.
Executing: 100%|██████████| 37/37 [00:50<00:00,  1.36s/cell]
/var/folders/tw/dszf86bn0kjgzxp0v_8g35sc0000gn/T/ipykernel_76584/2119138737.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_dfs[single_df]["date"]=all_dfs[single_df]["date"].astype(str)
Passed unknown parameter: df
Passed unknown parameter: df_name

Amsterdam

Input notebook does not contain a cell with tag 'parameters'
Executing:   0%|          | 0/37 [00:00<?, ?cell/s]0.00s - Debugger warning: It seems that frozen modules are being used, which may
0.00s - make the debugger miss breakpoints. Please pass -Xfrozen_modules=off
0.00s - to python to disable frozen modules.
0.00s - Note: Debugging will proceed. Set PYDEVD_DISABLE_FILE_VALIDATION=1 to disable this validation.
Executing: 100%|██████████| 37/37 [00:52<00:00,  1.41s/cell]